{% extends 'base.html' %}

{% block hero %}
<div class="hero">
    <h1>Welcome to Stats Score</h1>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mb-4">
        <div class="bg-white text-dark p-4 rounded">
            <h3>Lorem Ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, ipsum sit amet ultricies lacinia, nisl nisl aliquam nisl, eget aliquam nisl nisl sit amet nisl. Sed euismod, ipsum sit amet ultricies lacinia.</p>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="bg-white text-dark p-4 rounded">
            <h3>Dolor Sit</h3>
            <p>Amet consectetur adipiscing elit. Sed euismod, ipsum sit amet ultricies lacinia, nisl nisl aliquam nisl, eget aliquam nisl nisl sit amet nisl. Sed euismod, ipsum sit amet ultricies lacinia consectetur adipiscing.</p>
        </div>
    </div>
</div>
{% endblock %}