{% extends 'zapasy/base.html' %}

{% block hero %}
<div class="hero">
    <h1>Welcome to Stats Score</h1>
</div>
{% endblock %}

{% block content %}
<div class="row" id="informace">
    <div class="col-md-6 mb-4">
        <div class="bg-white text-dark p-4 rounded">
            <h3>Vytváření sportovních událostí a sledování výsledků</h3>
            <p>Naše platforma je ideálním nástrojem pro všechny, kteří se zajímají o organizování sportovních událostí a zápasů. Umožňuje jednoduše vytvářet a spravovat různé sportovní akce, jako jsou turnaje, ligy nebo přátelské zápasy. S naším systémem můžete přidávat jednotlivé týmy, hráče, čas a místo konání, stejně jako detaily o specifických pravidlech dané události. Kromě toho umožňuje sledování průběhu zápasu v reálném čase, což vám poskytuje okamžité informace o skóre a důležitých událostech během utkání. Díky naší platformě už nikdy nezmeškáte žádné důležité momenty – ať už se jedná o výsledek zápasu, nebo jednotlivé statistiky hráčů.</p>
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="bg-white text-dark p-4 rounded">
            <h3>Statistika hráčů a detailní analýza výkonů</h3>
            <p>Naše stránka vám poskytuje robustní nástroje pro záznam a analýzu statistiky hráčů během sportovních utkání. Každý zápas je důkladně sledován a všechny klíčové metriky, jako jsou góly, asistence, žluté karty, červené karty a další, jsou automaticky zaznamenávány a uloženy. Díky těmto datům můžete detailně analyzovat výkony jednotlivých hráčů i celkový výkon týmu. Na základě těchto statistik mohou trenéři a manažeři týmu snadno upravit strategii a zlepšit výsledky v budoucích zápasech. Naše platforma je navržena tak, aby byla intuitivní a snadno použitelná pro všechny účastníky – od organizátorů po samotné hráče.</p>
        </div>
    </div>
</div>
{% endblock %}